---
---
html {
  min-height: 100%;
}
body {
  min-height: 100%;
  background-color: #FDFAFA;
  line-height: 1.6;
  font-family: "Gentium Basic", "Times New Roman", serif;
}
.page-header {
  background-color: #a92f2c;
}
.page-header > .bg-inverse,
.page-header > .navbar-dark {
  background-color: inherit;
}
.page-header > header > div > * {
  padding-left: 20px;
  padding-left: 1.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.site-nav.navbar-dark {
  background-color: rgba(0,0,0,.2);
}
.navbar-dark .navbar-toggler {
  color: #ECEEEF;
  outline-color: #ECEEEF;
}
.navbar-brand {
  font-family: Boogaloo;
  float: none;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,.65);
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255,255,255,.85);
}
@media (min-width: 992px) {
  .collapse.navbar-toggleable-xs {
    padding-left: 20px;
    padding-left: 1.25rem;
  }
}
main {
  padding: 16px 0 0;
  padding: 1rem 0 0;
}
@media (min-width: 768px) {
  .content-box {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .content-box {
    max-width: 940px;
  }
}
@media (min-width: 1200px) {
  .content-box {
    //max-width: 1140px;
  }
}
.content-box {
  padding-right: 15.0016px;
  padding-left: 15.0016px;
  padding-right: .9375rem;
  padding-left: .9375rem;
  margin-right: auto;
  margin-left: auto;
}
.card {
  background-color: #FFF;
  border-color: #AAA;
}
.card-title a,
.card-header a {
  color: inherit;
}
.card-header {
  background-color: #872623;
  color: #cf9e83;
  font-family: Boogaloo;
  font-size: 1.3em;
  padding: .5rem 1rem;
}
.my-dl::after {
  display: table;
  clear: both;
  content: "";
}
main h1,
main h2,
main h3,
main h4,
main h5,
main h6,
.modal-title {
  color: #873635;
  font-family: Boogaloo;
}
a,
a:hover,
a:visited {
  color: #A92F2C;
}
.page-header h2 {
  font-family: Boogaloo;
}
.objectifs small {
  font-family: Tillana;
}
img.media-object {
  width: 80px;
  height: 80px;
  width: 5rem;
  height: 5rem;
  border: 1px solid #AAA;
}
.sidebar-content a:hover {
  color: inherit;
}
.sidebar-content a {
  color: inherit;
}
.sidebar-content .card-block {
  color: #873635;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D";/*"\201C""\201D""\2018""\2019";*/
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
.card-block :last-child {
  margin-bottom: 0;
}
.contact-photo {
  background-size: cover;
}
.article-metadata {
  margin-bottom: 0;
  a {
    float: right;
  }
}
body > footer {
  border-top: 2px solid black;
  font-size: small;
}
body > footer.bg-inverse {
  color: #aaa;
}
