---
---
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="/favicon.png">

    {% if page.permalink %}
      <link rel="canonical" href="{{page.permalink}}">
    {% endif %}

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Boogaloo|Tillana' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">

    {% seo %}
  </head>
  <body>
    <div class="page-header">
      <header class="hidden-sm-down bg-inverse p-x-1 p-y-3">
        <div class="content-box">
          <h2 class="m-b-0">SoS CIPAV   SoS Adhérents ..... SoS Adhérents ..... SoS Adhérents</h2>
          <span class="text-muted" hidden></span>
        </div>
      </header>
      <nav class="site-nav navbar navbar-dark bg-fasded" style="">
        <div class="content-box">
          <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
            &#9776;
          </button>
          <a class="navbar-brand hidden-md-up" href="#">SoS CIPAV   SoS Adhérents .....</a>
          <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar">
            <div class="nav navbar-nav">
              {% assign slugs = page.url | split: '/' %}
              <a class="nav-item nav-link {% if page.url == "/" %}active{% endif %}" href="/">Accueil {% if page.url == "/" %}<span class="sr-only">(page actuel)</span>{% endif %}</a>
              <a class="nav-item nav-link {% if slugs[1] == "conseil" %}active{% endif %}" href="/conseils/">Conseils {% if slugs[1] == "conseils" %}<span class="sr-only">(page actuel)</span>{% endif %}</a>
              <a class="nav-item nav-link {% if slugs[1] == "litiges-et-recours" %}active{% endif %}" href="/litiges-et-recours/">Litiges et recours {% if slugs[1] == "litiges-et-recours" %}<span class="sr-only">(page actuel)</span>{% endif %}</a>
              <a class="nav-item nav-link {% if slugs[1] == "chronique" %}active{% endif %}" href="/chronique/">Chronique {% if slugs[1] == "chronique" %}<span class="sr-only">(page actuel)</span>{% endif %}</a>
              <a class="nav-item nav-link {% if slugs[1] == "actualités" %}active{% endif %}" href="/actualités/">Actualités {% if slugs[1] == "actualités" %}<span class="sr-only">(page actuel)</span>{% endif %}</a>
              <a class="nav-item nav-link {% if slugs[1] == "soutien" %}active{% endif %}" href="/soutien/">Soutien {% if slugs[1] == "soutien" %}<span class="sr-only">(page actuel)</span>{% endif %}</a>
              <!--a class="nav-item nav-link {% if slugs[1] == "forum" %}active{% endif %}" href="/forum">Forum {% if slugs[1] == "forum" %}<span class="sr-only">(page actuel)</span>{% endif %}</a-->
              <a class="nav-item nav-link {% if slugs[1] == "témoignages" %}active{% endif %}" href="/témoignages/">Témoignages {% if slugs[1] == "témoignages" %}<span class="sr-only">(page actuel)</span>{% endif %}</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <main class="content-box">
      <div class="row">
        <div class="main-content text-justify col-lg-8">
          {{content}}
        </div>
        <div class="sidebar-content col-lg-4">
          <div class="card">
            <div class="card-header">
              Régulariser vos cotisations
            </div>
            <div class="card-block">
              <a href="http://cipavaction.pincent-avocats.com/" target="_blank">Une procédure simple et peu coûteuse pour obtenir la régularisation sur les revenus réels, proposée par le cabinet Pincent Avocats (lire la suite ...)</a>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              Chronique du TASS
            </div>
          <div class="card-block">
        {% assign count = 0 %}

        {% for post in site.categories.chronique limit:2 %}
          {% assign count = count | plus: 1 %}

          {% assign date = post.date %}
          {% capture currentdate %}{% include date.month-year.fr %}{% endcapture %}
          {% if currentdate != lastdate %}
            {% if count > 1 %}
              </ul>
            {% endif %}
              <strong>{{ currentdate | capitalize }}</strong>
              <ul class="p-l-1 card-text">
            {% assign lastdate = currentdate %}
          {% endif %}
                <li><a href="{{ post.url }}">{{ post.description }}</a></li>
        {% endfor %}
              </ul>
              <strong><a href="/chronique/">Plus...</a></strong>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              Actualités
            </div>
            <div class="card-block">
      {% assign desired_category = "actualités" %}
      {% assign count = 0 %}

      {% for post in site.posts %}
        {% for cat in post.categories %}
          {% if cat == desired_category %}
            {% assign count = count | plus: 1 %}
            {% if count > 3 %}
              {% break %}
            {% endif %}

            {% assign date = post.date %}
            {% capture currentdate %}{% include date.month-year.fr %}{% endcapture %}
            {% if currentdate != lastdate %}
              {% if count > 1 %}
              </ul>
              {% endif %}
              <strong>{{ currentdate | capitalize }}</strong>
              <ul class="p-l-1 card-text">
              {% assign lastdate = currentdate %}
            {% endif %}
            {% if post.html_title and post.html_title != "" %}
                <li><a href="{{ post.url }}">{{ post.html_title }}</a></li>
            {% else %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endfor %}
              </ul>
              <strong><a href="/actualités/">Plus...</a></strong>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="bg-inverse p-a-1">
      <div class="content-box">
        <p>
          CIPAV SoS Adhérents
          <br/>3 chemin du cheval, 59470 Broxeele
          <br/>Directeur de publication&nbsp;: Geneviève Decrop
        </p>
        <p>
          Site hébergé par Github Inc.
          <br/>88 Colin P Kelly Junior Street, San Francisco, CA 94107, United States
        </p>
        <p>
          Toute représentation ou reproduction intégrale ou partielle faite sans le consentement de
          l'auteur ou de ses ayants droit ou ayants cause est illicite. Il en est de même pour la
          traduction, l'adaptation ou la transformation, l'arrangement ou la reproduction par un art
          ou un procédé quelconque. Ils peuvent également, s'ils le souhaitent, signaler que les
          contenus peuvent être reproduits, mais avec mention de la source et éventuellement un lien
          pointant vers le contenu original.
        </p>
        <p>
          Alors que nous avons effectué toutes les démarches pour nous assurer de la fiabilité des
          informations contenues sur ce site internet, l'association CIPAV SoS Adhérents ne peut
          encourir aucune responsabilité du fait d'erreurs, d'omissions, ou pour les résultats qui
          pourraient être obtenus par l'usage de ces informations.
        </p>
      </div>
    </footer>
{% for post in site.posts %}
  {% if post.flash %}
    <div class="modal fade bd-example-modal-lg" id="annonce" data-url="{{ post.url }}{% if post.flash_id and post.flash_id != '' %}#{{ post.flash_id }}{% endif %}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" style="max-width: 800px; max-width: 50rem;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">{{ post.title }}</h4>
          </div>
          <div class="modal-body text-justify">
          {% if post.flash_text and post.flash_text != "" %}
            <p>{{ post.flash_text }}</p>
          {% else %}
            <p>{{ post.description }}</p>
          {% endif %}

            <p><a href="{{ post.url }}">Pour en savoir plus ...</a></p>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            <button type="button" id="lire" class="btn btn-primary">Lire plus</button>
          </div>
        </div>
      </div>
    </div>
    {% break %}
  {% endif %}
{% endfor %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    <script src="scripts.js"></script>
    <script>
      (function() {
        $("#lire").on('click', function(){
          console.log("hi")
          $('#annonce').modal('hide')
          location = $('#annonce').data("url")
        })
        if (localStorage.getItem('annonce') == $('#annonce').data("url")) {
          // do nothing
        } else {
          $('#annonce').modal()
          localStorage.setItem('annonce', $('#annonce').data("url"))
        }
      })();

      // Google analytics
      console.log(location.host)
      if(location.host == "www.sos-cipav.com"){
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-76228565-1', {'storage': 'none'});
        // use ip address
        ga('set', 'anonymizeIp', true);
        function gaPageview() {
          if (window.location.pathname !== "/") {
        		ga('send', 'pageview');
        	} else {
        		ga('send', 'pageview', {
        			'page': '/accueil',
        			'title': 'SoS CIPAV'
        		});
        	}
          console.log("tracking")
        }
        gaPageview();
      }
    </script>
  </body>
</html>
