---
---
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="/favicon.png">

    {% if page.permalink %}
      <link rel="canonical" href="{{page.permalink}}">
    {% endif %}

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Boogaloo|Tillana' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">

    {% seo %}
  </head>
  <body>
    <div class="page-header">
      <header class="hidden-sm-down bg-inverse p-x-1 p-y-3">
        <div class="content-box">
          <h2 class="m-b-0">SoS CIPAV   SoS Adhérents ..... SoS Adhérents ..... SoS Adhérents</h2>
          <span class="text-muted" hidden></span>
        </div>
      </header>
      <nav class="site-nav navbar navbar-dark bg-fasded" style="">
        <div class="content-box">
          <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
            &#9776;
          </button>
          <a class="navbar-brand hidden-md-up" href="#">SoS CIPAV   SoS Adhérents .....</a>
          <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar">
            <div class="nav navbar-nav">
              {% assign slugs = page.url | split: '/' %}
              <a class="nav-item nav-link {% if page.url == "/" %}active{% endif %}" href="/">Accueil {% if page.url == "/" %}<span class="sr-only">(page actuel)</span>{% endif %}</a>
              <a class="nav-item nav-link {% if slugs[1] == "conseil" %}active{% endif %}" href="/conseils">Conseils {% if slugs[1] == "conseils" %}<span class="sr-only">(page actuel)</span>{% endif %}</a>
              <a class="nav-item nav-link {% if slugs[1] == "litiges-et-recours" %}active{% endif %}" href="/litiges-et-recours">Litiges et recours {% if slugs[1] == "litiges-et-recours" %}<span class="sr-only">(page actuel)</span>{% endif %}</a>
              <a class="nav-item nav-link {% if slugs[1] == "chronique" %}active{% endif %}" href="/chronique">Chronique {% if slugs[1] == "chronique" %}<span class="sr-only">(page actuel)</span>{% endif %}</a>
              <a class="nav-item nav-link {% if slugs[1] == "actualités" %}active{% endif %}" href="/actualités">Actualités {% if slugs[1] == "actualités" %}<span class="sr-only">(page actuel)</span>{% endif %}</a>
              <a class="nav-item nav-link {% if slugs[1] == "soutien" %}active{% endif %}" href="/soutien">Soutien {% if slugs[1] == "soutien" %}<span class="sr-only">(page actuel)</span>{% endif %}</a>
              <a class="nav-item nav-link {% if slugs[1] == "forum" %}active{% endif %}" href="/forum">Forum {% if slugs[1] == "forum" %}<span class="sr-only">(page actuel)</span>{% endif %}</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <main class="content-box">
      <div class="row">
        <div class="main-content text-justify col-lg-8">
          {{content}}
        </div>
        <div class="sidebar-content col-lg-4">
          <div class="card">
            <div class="card-header">
              Chronique du TASS
            </div>
            <div class="card-block">
              <strong>Mars 2016</strong>
              <ul class="p-l-1 card-text">
                <li>
                  <a href="/chronique/#Chronique-de-mars-2016">Le coût des huissiers et leurs mauvaises procédures</a>
                </li>
              </ul>
              <strong>Février 2016</strong>
              <ul class="p-l-1 card-text">
                <li>
                  <a href="/chronique/#Chronique-de-février-2016">Retour sur le Noël de la CIPAV au TASS d’Evry</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              Actualités
            </div>
            <div class="card-block">
              <strong>Avril 2016</strong>
              <ul class="p-l-1 card-text">
                <li>
                  <a href="/actualités/#avril-2016-scoop">Pas d’impunité pour les ex-dirigeants de la CIPAV ?</a>
                </li>
                <li>
                  <a href="/actualités/#avril-2016">Invalides affiliés à la Cipav : la triple peine</a>
                </li>
              </ul>
              <strong>Novembre 2015</strong>
              <ul class="p-l-1 card-text">
                <li>
                  <a href="/actualités/#novembre-2015">Sont-ils mieux organisés ?</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="bg-inverse p-a-1">
    </footer>
    <div class="modal fade bd-example-modal-lg" id="annonce" data-url="actualités.html#avril-2016-scoop" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Pas d’impunité pour les ex-dirigeants de la CIPAV ?</h4>
          </div>
          <div class="modal-body text-xs-justify">
            <p><strong>La Cipav – qui défend bien peu les intérêts de ses adhérents – ne les avaient pas poursuivis, mais ils devront peut-être rendre des comptes aux contribuables !</strong></p>
            <p><em>SOS CIPAV ADHERENTS révèle que Jean-Marie SAUNIER, actuel Directeur de la Caisse nationale d'assurance vieillesse des professions libérales (CNAVPL), et François DURIN, tous deux anciens Directeurs de la CIPAV, sont actuellement poursuivis disciplinairement pour ...</em></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            <button type="button" id="lire" class="btn btn-primary">Lire l'article</button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    <script src="scripts.js"></script>
    <script>
      (function() {
        $("#lire").on('click', function(){
          console.log("hi")
          $('#annonce').modal('hide')
          location = $('#annonce').data("url")
        })
        if (sessionStorage.getItem('annonce') == $('#annonce').data("url")) {
          // do nothing
        } else {
          $('#annonce').modal()
          sessionStorage.setItem('annonce', $('#annonce').data("url"))
        }
      })();

      // Google analytics
      if(location.host == "www.sos-cipav.com"){
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-55744005-1', "{" +
        "  'storage': 'none'" + // no cookies
        "})");
        // use ip address
        ga('set', 'anonymizeIp', true);
        function gaPageview() {
          if (window.location.pathname !== "/") {
        		ga('send', 'pageview');
        	} else {
        		ga('send', 'pageview', {
        			'page': '/accueil',
        			'title': 'SoS CIPAV'
        		});
        	}
        }
        gaPageview();
      }
    </script>
  </body>
</html>
